@mixin button(
	$color: $color-primary,
	$color-hover: $color-primary,
	$color-bg: $color-white,
	$color-bg-hover: $color-white
) {
	@include clear-appearance;

	display: inline-block;
	background: $color-bg;
	color: $color;
	transition: {
		property: color, background;
		duration: 0.2s;
	}

	&:hover {
		background: $color-bg-hover;
		color: $color-hover;
	}

	&[disabled] {
		pointer-events: none;
		opacity: 0.5;
	}
}
