.custom-select {
	position: relative;
	cursor: pointer;

	select {
		@include clear-appearance;
		@include fill;

		opacity: 0;
		z-index: 2;
		padding: 0;
		margin: 0;
		outline: 0;
		color: currentColor;
		cursor: pointer;
	}
}

.custom-select__container {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.custom-select__selected {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
}

.custom-select__toggle {
	position: absolute;
	top: 50%;
	right: 0;
	transform-origin: 50% 50%;
	transform: translate(-50%, -50%) rotate(90deg);

	svg {
		width: 9px;
		height: 100%;
		color: currentColor;
	}
}
