$custom-select-offset: 20px;
$custom-select-toggle-gutter: 20px;

.custom-select {
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	select {
		@include clear-appearance;

		padding: 0;
		margin: 0;
		padding-right: ($custom-select-offset + $custom-select-toggle-gutter) !important;
		margin-right: -$custom-select-offset !important;;
		outline: 0;
		color: currentColor;
		cursor: pointer;
	}

	&:after {
		@include valign;

		content: $empty;
		right: 0;
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-bottom-width: 0;
		border-top-color: currentColor;
		border-top-width: 8px;
	}
}
