.header {

}

.header__wrapper {

}

.header__logo {

	svg {
		width: 100px;
	}
}

.header__menu {

	ul {
		@include reset-list;
	}

	li {
		display: inline-block;
		vertical-align: middle;
	}

	a {

		&:hover,
		&.is-active {

		}
	}
}
