body {
	font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6 {
	font: {
		family: $heading-font-family;
		weight: $heading-font-weight;
	}
	line-height: 1.2;
	text-transform: uppercase;

	margin: 1.5em 0 1em;

	&:first-child {
		margin-top: 0;
	}
}

h1 { font-size: 36px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 15px; }
h5 { font-size: $body-font-size; }
h6 { font-size: $body-font-size; }

p, li {
	font-size: $body-font-size;
	line-height: 1.4;
}

p {
	margin: 1em 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

strong {
	font-weight: $body-font-weight-bold;
}

a {
	color: $color-primary;
	text-decoration: underline;

	&:hover {
	}

	p & {

		&:hover {
			color: $color-secondary;
		}
	}
}

@media #{$medium-up} {
	h1 { font-size: 50px; }
	h2 { font-size: 36px; }
	h3 { font-size: 18px; }
	h4 { font-size: $body-font-size; }
	h5 { font-size: $body-font-size; }
	p { font-size: $body-font-size; }
}
