@mixin clear-appearance {
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	padding: 0;
}

@mixin reset-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin no-tap-highlight {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

@mixin create-layer {
	transform: translate3d(0,0,0);
}

@mixin size($size) {
	width: $size;
	height: $size;
}
