@mixin gradient-text($text, $background, $gradient) {
  background: white;
  color: black;
  position: relative;

  // Hide aliased edges caused by mixing blend modes. Will appear as a faint dark outline on certain backgrounds. Tweak to improve rendering
  text-shadow:
    1px 1px 0px $background,
    1px -1px 0px $background,
    -1px -1px 0px $background,
    -1px 1px 0px $background;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // Make cursor ignore these, allowing text underneath to be clicked and selected
    pointer-events: none;
  }

  &:before {
    // Gradient
    background: $gradient;
    content: $empty;
    display: block;
    mix-blend-mode: screen;
  }

  &:after {
  // Duplicate gradient text. Yes, it's ugly. Change the value below without changing the HTML for fun times.
    content: $text;
    background: $background;

    color: white;
    mix-blend-mode: multiply;
  }

}
