@mixin grid-container($include-column-gutter: true, $include-grid-row: true) {
	@include container();

	@if $include-grid-row {
		@include grid-row(false);
	}

	$gutter-small: $outer-gutter-small;
	$gutter-medium: $outer-gutter-medium;
	$gutter-large: $outer-gutter-large;

	@if $include-column-gutter {
		$gutter-small: $outer-gutter-small - ($column-gutter-small/2);
		$gutter-medium: $outer-gutter-medium - ($column-gutter-medium/2);
		$gutter-large: $outer-gutter-large - ($column-gutter-large/2);
	}

	padding: {
		left: $gutter-small;
		right: $gutter-small;
	}

	@media #{$medium-up} {
		padding: {
			left: $gutter-medium;
			right: $gutter-medium;
		}
	}

	@media #{$large-up} {
		padding: {
			left: $gutter-large;
			right: $gutter-large;
		}
	}
}

@mixin grid-row($sub: true) {
	overflow: hidden;
	clear: both;

	@if $sub {
		margin: {
			left: -$column-gutter-small/2;
			right: -$column-gutter-small/2;
		}

		@media #{$medium-up} {
			margin: {
				left: -$column-gutter-medium/2;
				right: -$column-gutter-medium/2;
			}
		}

		@media #{$large-up} {
			margin: {
				left: -$column-gutter-large/2;
				right: -$column-gutter-large/2;
			}
		}
	}
}

@mixin grid-column($cols, $gutter: true, $center: false) {
	@include span($cols);

	@if $gutter {
		padding: {
			left: $column-gutter-small/2;
			right: $column-gutter-small/2;
		}

		@media #{$medium-up} {
			padding: {
				left: $column-gutter-medium/2;
				right: $column-gutter-medium/2;
			}
		}

		@media #{$large-up} {
			padding: {
				left: $column-gutter-large/2;
				right: $column-gutter-large/2;
			}
		}
	}

	@if $center {
		float: none;
		margin: 0 auto;
	}
}

@mixin flex-row($align: center) {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: $align;
}
