@mixin inline-block {
	display: inline-block;
	vertical-align: middle;
}

@mixin vertical-centerer($pseudo: after) {
	font-size: 0;
	&:#{$pseudo} {
		content: $empty;
		@include inline-block;
		width: 0;
		height: 100%;
	}
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin fill {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
