/**
 * Grid
 */

$small-breakpoint: 400px;
$medium-breakpoint: 768px;
$large-breakpoint: 1000px;
$extra-large-breakpoint: 1200px;

$extra-small-range: (0, $small-breakpoint - 1);
$small-range: (0, $medium-breakpoint - 1);
$medium-range: ($medium-breakpoint, $large-breakpoint - 1);
$large-range: ($large-breakpoint, $extra-large-breakpoint - 1);
$extra-large-range: ($extra-large-breakpoint, 9999px);

$column-gutter-small: 20px;
$column-gutter-medium: 20px;
$column-gutter-large: 40px;
$column-gutter: $column-gutter-large;
$gutter: $column-gutter;

$outer-gutter-large: 20px;
$outer-gutter-medium: 20px;
$outer-gutter-small: 30px;
$outer-gutter: $outer-gutter-large;

$container-width: 1400px;

$row-width: $container-width + $outer-gutter*2;

$content-width: 960px;

$ms-extra-small-max: nth($extra-small-range, 2);
$mq-small-min: nth($small-range, 1);
$mq-small-max: nth($small-range, 2);
$mq-medium-min: nth($medium-range, 1);
$mq-medium-max: nth($medium-range, 2);
$mq-large-min: nth($large-range, 1);
$mq-large-max: nth($large-range, 2);
$mq-extra-large-min: nth($extra-large-range, 1);
$mq-extra-large-max: nth($extra-large-range, 2);

$screen: "only screen";
$extra-small-only: "#{$screen} and (max-width: #{$ms-extra-small-max})";
$small-up: "#{$screen} and (min-width:#{$mq-small-min})";
$small-only: "#{$screen} and (max-width: #{$mq-small-max})";
$medium-up: "#{$screen} and (min-width:#{$mq-medium-min})";
$medium-down: "#{$screen} and (max-width:#{$mq-medium-max})";
$medium-only: "#{$screen} and (min-width:#{$mq-medium-min}) and (max-width:#{$mq-medium-max})";
$large-up: "#{$screen} and (min-width:#{$mq-large-min})";
$large-only: "#{$screen} and (min-width:#{$mq-large-min}) and (max-width:#{$mq-large-max})";
$extra-large-up: "#{$screen} and (min-width:#{$mq-extra-large-min})";
$extra-large-only: "#{$screen} and (min-width:#{$mq-extra-large-min}) and (max-width:#{$mq-extra-large-max})";

$susy: (
	gutter-position: inside,
	columns: 12,
	gutters: 0,
	container: $row-width,
	global-box-sizing: border-box
);


/**
 * Colours
 */

$color-primary: $color-black;
$color-secondary: $color-black;

$body-bg-color: $color-white;
$color-border: $color-primary;
$color-error: $color-secondary;


/**
 * Typography
 */

$body-font-size: 14px;
$body-font-family: MyFont, sans-serif;
$body-font-weight-light: 300;
$body-font-weight-normal: normal;
$body-font-weight-bold: bold;
$body-font-weight: $body-font-weight-normal;
$body-font-color: $color-primary;

$heading-font-family: #{$body-font-family};
$heading-font-color: $color-primary;
$heading-font-weight: bold;


/**
 * Layout
 */



/**
 * Animation
 */

$global-ease: cubic-bezier(0.08, 0.59, 0.29, 0.99);


/**
 * Misc
 */

$global-radius: 5px;


/**
 * Utilities
 */

$empty: "\0020";
$bullet: "\2022";
$cross: "\2715";
